__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
.env
.env.local
.env.*.local
.DS_Store
.git
.gitignore
.gitlab-ci.yml
.github
.dockerignore
docker-compose*
Dockerfile
logs/
*.log
node_modules/
npm-debug.log
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
.serverless/
.env.*.txt
.env.local
